body {
  height: 100vh;
}

.topbar {
  background-color: darkslategray;
  border-bottom: 2px solid black;
}

header {
  color: white;
  font-weight: 600;
  height: 3rem;
}

nav > a {
  margin-right: 4rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav > a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.main {
  background-color: white;
  height: 100%;
}

.main > .description {
  background: linear-gradient(90deg,#75C55B, #8cd374);
  width: 45%;
  border-right: 2px solid black;
}

.title {
  text-align: end;
  font-size: 5rem;
  font-weight: bold;
}

.paragraph {
  text-align: end;
  font-size: 1rem;
}

.main > .photo {
  background-image: url("https://images.unsplash.com/photo-1623947453126-3652fc16b2b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-size: cover;
  background-position: center;
}

a > button {
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  background: none;
  border: 2px solid black;
  margin: auto
}

a > button:active {
  background: white;
  transform: translateY(2px);
}

.footer {
  color: white;
  font-weight: bolder;
  background-color: darkslategray;
  height: 3rem;
  border-top: 2px solid black;
}

.footer > div {
  margin: auto;
}