body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 255, 42, 0.261), rgba(13, 255, 0, 0.611)), url("https://images.unsplash.com/photo-1470755711115-961e80ee0284?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
}

.topbar {
  background-color: darkslategray;
}

header {
  color: white;
  font-weight: 600;
  height: 3rem;
}

a {
  margin-right: 4rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.main {
  background-color: white;
  height: 100%;
}

.main > .description {
  background: linear-gradient(90deg,#75C55B, #8cd374);
  width: 45%;
  border-right: 3px solid white;
}

.title {
  text-align: end;
  font-size: 5rem;
  font-weight: bold;
}

.main > .photo {
  background-image: url("https://images.unsplash.com/photo-1623947453126-3652fc16b2b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-size: cover;
  background-position: center;
}

.footer {
  color: white;
  font-weight: bolder;
  background-color: darkslategray;
  height: 3rem;
}

.footer > div {
  margin: auto;
}