body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.426), rgba(0, 0, 0, 0.46)), url("https://images.unsplash.com/photo-1471295253337-3ceaaedca402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2068&q=80");
  background-size: cover;
  background-position: center;
}

h1 {
  color: blue;
}