<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ballpark</title>
</head>

<body>
    <h1>Edit Ballpark</h1>
    <form action="/ballparks/<%=ballpark._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="ballpark[title]" value="<%=ballpark.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="ballpark[location]" value="<%= ballpark.location%>">
        </div>
        <button>Update Ballpark</button>
    </form>
    <a href="/ballparks/<%= ballpark._id%>">Back To Ballpark</a>

</body>

</html>