<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ballpark</title>
</head>

<body>
    <h1>Edit Ballpark</h1>
    <form action="/ballparks/<%=ballpark._id%>?_method=PUT" method="POST">
        <div>
            <label for="ballpark">Ballpark Name</label>
            <input type="text" id="ballpark" name="ballpark[ballpark]" value="<%=ballpark.ballpark %>">
        </div>
        <div>
            <label for="team">Team</label>
            <input type="text" id="team" name="ballpark[team]" value="<%= ballpark.team%>">
        </div>
        <button>Update Ballpark</button>
    </form>
    <a href="/ballparks/<%= ballpark._id%>">Back To Ballpark</a>

</body>

</html>