<% layout("layouts/boilerplate") %>
<div class="mb-5">
    <h1>All Ballparks</h1>
</div>
<!-- <a href="/ballparks/new">Add New Ballpark</a> -->
<div class="row row-cols-1 row-cols-md-3 g-5">
    <% for (let ballpark of ballparks){%>
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" style="height: 25rem; width: 25rem; object-fit: cover;" alt="" src="<%= ballpark.images[0].url %> "/>
                <div class="card-body">
                    <h5 class="card-title"><%= ballpark.ballpark %> </h5>
                    <p class="card-text"><%= ballpark.team %> </p>
                    <a class="btn btn-success" href="/ballparks/<%= ballpark._id %> ">Details</a>                    
                </div>
            </div>
        </div>
    <% }%>
</div>