<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ballparks</title>
</head>

<body>
    <h1>All Ballparks</h1>
    <div>
        <a href="/ballparks/new">Add ballpark</a>
    </div>
    <ul>
        <% for (let ballpark of ballparks){%>
        <li><a href="/ballparks/<%= ballpark._id %>"><%= ballpark.title %></a></li>
        <% }%>
    </ul>

</body>

</html>