<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Ballpark</title>
</head>

<body>
    <form action="/ballparks" method="POST">
        <div>
            <label for="ballpark">Ballpark Name</label>
            <input type="text" id="ballpark" name="ballpark[ballpark]">
        </div>
        <div>
            <label for="team">Team</label>
            <input type="text" id="team" name="ballpark[team]">
        </div>
        <button>Add Ballpark</button>
    </form>
    <a href="/ballparks">All Ballparks</a>

</body>

</html>