<% layout("layouts/boilerplate") %>
<div class="row">
    <h3 class="text-center">New Ballpark</h3>
    <div class="col-6 offset-3">
        <form action="/ballparks" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label" for="ballpark">Ballpark Name</label>
                <input class="form-control" type="text" id="ballpark" name="ballpark[ballpark]" required>
                <div class="invalid-feedback">
                    Please provide the ballpark name
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="team">Team</label>
                <input class="form-control" type="text" id="team" name="ballpark[team]" required>
                <div class="invalid-feedback">
                    Please provide the team
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="latitude">Latitude</label>
                <input class="form-control" type="text" id="latitude" name="ballpark[latitude]" required>
                <div class="invalid-feedback">
                    Please provide the ballpark latitude
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="longitude">Longitude</label>
                <input class="form-control" type="text" id="longitude" name="ballpark[longitude]" required>
                <div class="invalid-feedback">
                    Please provide the ballpark latitude
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="ballpark[image]" required>
                <div class="invalid-feedback">
                    Please provide an image URL
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Ballpark</button>
            </div>            
        </form>
        <!-- <a href="/ballparks">All Ballparks</a> -->
    </div>
</div>
