<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ballpark Details</title>
</head>

<body>
    <h1><%= ballpark.team %> </h1>
    <h2><%= ballpark.ballpark %> </h2>
    <a href="/ballparks/<%= ballpark._id %>/edit">Edit Ballpark</a>
    <p>
        <form action="/ballparks/<%= ballpark._id %>/delete?_method=DELETE" method="POST">
            <button>Delete Ballpark</button>
        </form>
    </p>
    <footer>
        <a href="/ballparks">All Ballparks</a>
    </footer>
</body>

</html>